<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torrent Client</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Torrent Client</h1>
        <form class="form-inline my-4" action="/add" method="get">
            <input type="text" name="magnet" class="form-control mr-sm-2" placeholder="Magnet URL" required>
            <button type="submit" class="btn btn-primary">Add Torrent</button>
        </form>
        <h2>Torrents</h2>
        <ul class="list-group">
            <% torrents.forEach(torrent => { %>
                <li class="list-group-item">
                    <strong>Name:</strong> <%= torrent.name %><br>
                    <strong>Size:</strong> <%= torrent.size %><br>
                    <strong>Downloaded:</strong> <%= torrent.downloaded %><br>
                    <strong>Download Speed:</strong> <%= torrent.downloadSpeed %><br>
                 
            <% }); %>
        </ul>
    </div>
</body>
</html>
